@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');

.container {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	padding-left: 5rem;
	padding-right: 5rem;
}

.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}

.container-announcement {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}

.swiper-button-prev {
	background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' class='h-1 w-1 stroke-current' data-v-740c4b20=''%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M7 16l-4-4m0 0l4-4m-4 4h18'%3E%3C/path%3E%3C/svg%3E") !important;
	width: 70px;
	height: 70px;
	background: rgba(0, 0, 0, 0.637) 00;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
	color: white;
	font-weight: bold;
	text-align: center;
}

.swiper-button-next {
	background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' class='h-1 w-1 stroke-current' data-v-740c4b20=''%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M17 8l4 4m0 0l-4 4m4-4H3'%3E%3C/path%3E%3C/svg%3E") !important;
	width: 70px;
	height: 70px;
	background: rgba(0, 0, 0, 0.637) 00;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	content: '';
}

.swiper-pagination {
	margin-top: 80px !important;
	width: 80px;
	bottom: -6px !important;
}

.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	opacity: 1;
	background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
	background: rgb(45, 141, 45);
}

.footer-link-container {
	display: flex;
	flex-direction: column;
}

.footer-link-label {
	font-weight: 800;
}

.footer-link-container,
.footer-link-list {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
}
